import { TemplateEntity } from '@entities';
import { Injectable } from '@nestjs/common';
import { InjectRepository } from '@nestjs/typeorm';
import { QueryService } from '@nestjs-query/core';
import { TypeOrmQueryService } from '@nestjs-query/query-typeorm';
import { Repository } from 'typeorm';

@Injectable()
@QueryService(TemplateEntity)
export class TemplateService extends TypeOrmQueryService<TemplateEntity> {
  constructor(@InjectRepository(TemplateEntity) repo: Repository<TemplateEntity>) {
    super(repo, { useSoftDelete: true });
  }
}
